/.bundle
/db/*.sqlite3
/db/bak
/db/*.sqlite3-journal
/log/*.log
/tmp
/config/database.yml
/config/application.yml
/public/uploads
/public/zoomer
/public/system
/public/katalog_files_env_development
/public/katalog_files_env_test
.DS_Store
.rvmrc
.ruby-gemset
.ruby-version
.ssl
/vendor/assets/bower_components/animate.css/node_modules
.byebug_history

/bin

/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-journal
/test/dummy/log/*.log
/test/dummy/tmp
/test/dummy/public/uploads
